.main-page-cover {
  .carousel-photo-block {
    margin: 0 -33%;
    width: 170%;
    height: 470px;

    @media (max-width: 767px) {
      height: 200px;
    }

    .photo-view-background {
      background-position: center;
      background-size: cover;
      position: absolute;
      z-index: -1;
      opacity: 0.6;
      width: 100%;
      height: 100%;
    }

    .photo-view {
      object-fit: contain;
      width: 100%;
      height: 100%;
    }
  }

  .carousel-inner {
    height: 100%;
  }

  .carousel.slide {
    width: 100%;
    height: 100%;
  }
}
